$contentWidth: 1200px; /* 页面宽度 */
$indexLeftWidth: 310px; /* 首页左边宽度 */ 
$pageMinHeight: 400px;

@media (max-width: 1100px){
  $contentWidth: 1100px; 
}
$indexRightWidth: $contentWidth - $indexLeftWidth - 10px;


$gray0: #000;
$gray1:#2e2e2e;
$gray2: #575757;
$gray3: #666;
$gray4: #999;
$gray5: #DFDFDF;
$gray6: #f5f5f5; // body 背景灰色
$gray7: #333; 
$gray8: #f8f8f8; 
$gray9: #C7C7C7;
$gray10: #222;
/*亏盈 状态字体 颜色*/
$deficitColor:#28c76f;



/* 输入框相关颜色  不受主题色设置 */
$defaultFontColor: #2e2e2e;
$inputBorder: $gray5;
$inputBorderHover: rgba(64,158,255, 0.5);
$inputBorderFocus: rgba(64,158,255);
$inputBorderError: #E80404;
$inputError: #FF0000;


/* 单选 、 多选 颜色设置  */
$checkedColor: #004098;
$normalborderColor: $inputBorder;
$radioSize: 16px;
$checkboxSize: 16px;


/* 灰色定义 */
$disabledInputBg:  #F8F8F8;
$disabledInputColor:  $gray3;
$disabledInputBorder:  rgba(223,223,223,1);

/* 表格相关颜色*/

/* 边框 */
@mixin common-border-line($width: 1px, $color:#DFDFDF, $radius: 0) {
  border:$width solid $color;
  border-radius: $radius;
}
@mixin common-border-top($width: 1px, $color:#DFDFDF) {
  border-top:$width solid $color;
}
@mixin common-border-left($width: 1px, $color:#DFDFDF) {
  border-left:$width solid $color;
}
@mixin common-border-right($width: 1px, $color:#DFDFDF) {
  border-right:$width solid $color;
}
@mixin common-border-bottom($width: 1px, $color:#DFDFDF) {
  border-bottom:$width solid $color;
}

/*border 边框阴影*/
@mixin border-shadow-hover($shadowConfig: 1px 1px 3px #518cdd) {
    box-shadow: $shadowConfig;
}


/* 表格错误色 */
$tb-err: #E80404;
$tb-err2: rgba(232,4,4,0.03);





